## Tannis McCartney
## May 26, 2022

### This notebook creates flags in the orders_products merged dataset.

## Contents:
### 01 Import Libraries
### 02 Import data
### 03 Create a loyalty flag for existing customers
### 04 Create a spending flag
### 05 Create an order frequency flag
### 06 Export data

# 01 Import libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

# 02 Import data

In [2]:
# Turn project folder path into a string
path = r'C:\Users\tmmcc\Google Drive\Data Analytics Bootcamp\4 Python Fundamentals for Data Analysts\05-2022 Instacart Basket Analysis'

In [3]:
# Import orders_products_derived.pkl
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_derived.pkl'))
df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day,busiest_2_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders

In [4]:
# Check shape of dataframe
df_ords_prods_merge.shape

(32433030, 18)

# 03 Create a loyalty flag for existing customers

In [5]:
# Create a max_order column to determine the number of orders for each customer
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
# Check the results of the above function
df_ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day,busiest_2_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,22
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22

In [7]:
# Set the criteria and execute the code to set the flag for Loyal Customers
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag']= 'Loyal Customer'

In [8]:
# Set the criteria and execute the code to set the flag for Regular Customers
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order']  <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular Customer'

In [9]:
# Set the criteria and execute the code to set the flag for New Customers
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New Customer'

In [10]:
# Print the frequency of new "loyalty_flag" column
df_ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular Customer    15890458
Loyal Customer      10293434
New Customer         6249138
Name: loyalty_flag, dtype: int64

# 04 Create a spending flag

In [13]:
# Create a mean_prices column to determine the average price across all orders for a customer
df_ords_prods_merge['mean_prices'] = round(df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean), 2)

In [14]:
# Check the results of the above function
df_ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,price_range,busiest_day,busiest_2_days,busiest_period_of_day,max_order,loyalty_flag,mean_prices
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New Customer,6.37
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New Customer,6.37
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New Customer,6.37
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New Customer,6.37
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New Customer,6.37
5,3367565,1,6,2,7,19.0,False,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New Customer,6.37
6,550135,1,7,1,9,20.0,False,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10,New Customer,6.37
7,3108588,1,8,1,14,14.0,False,196,2,1,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.37
8,2295261,1,9,1,16,0.0,False,196,4,1,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10,New Customer,6.37
9,2550362,1,10,4,8,30.0,False,196,1,1,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New Customer,6.37
10,2968173,15,15,1,9,7.0,False,196,2,0,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular Customer,3.98
11,1870022,15,17,2,16,8.0,False,196,6,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular Customer,3.98
12,1911383,15,18,2,11,7.0,False,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular Customer,3.98
13,2715276,15,21,1,9,7.0,False,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular Customer,3.98
14,487368,15,22,1,10,14.0,False,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.98

In [16]:
# Set the criteria and execute the code to flag Low spenders
df_ords_prods_merge.loc[df_ords_prods_merge['mean_prices'] < 10, 'spending_flag'] = 'Low spender'

In [17]:
# Set the criteria and execute the code to flag High spenders
df_ords_prods_merge.loc[df_ords_prods_merge['mean_prices'] >= 10, 'spending_flag'] = 'High spender'

In [18]:
# Print the frequency of new "spending_flag" column
df_ords_prods_merge['spending_flag'].value_counts(dropna=False)

Low spender     32311663
High spender      121367
Name: spending_flag, dtype: int64

# 05 Create an order frequency flag

In [19]:
# Create a median_days_since_order column to determine the average price across all orders for a customer
df_ords_prods_merge['median_days_since_order'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [20]:
# Check the results of the above function
df_ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,prices,price_range,busiest_day,busiest_2_days,busiest_period_of_day,max_order,loyalty_flag,mean_prices,spending_flag,median_days_since_order
0,2539329,1,1,2,8,NaN,True,196,1,0,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New Customer,6.37,Low spender,20.5
1,2398795,1,2,3,7,15.0,False,196,1,1,...,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,New Customer,6.37,Low spender,20.5
2,473747,1,3,3,12,21.0,False,196,1,1,...,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,New Customer,6.37,Low spender,20.5
3,2254736,1,4,4,7,29.0,False,196,1,1,...,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New Customer,6.37,Low spender,20.5
4,431534,1,5,4,15,28.0,False,196,1,1,...,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,New Customer,6.37,Low spender,20.5
5,3367565,1,6,2,7,19.0,False,196,1,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New Customer,6.37,Low spender,20.5
6,550135,1,7,1,9,20.0,False,196,1,1,...,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10,New Customer,6.37,Low spender,20.5
7,3108588,1,8,1,14,14.0,False,196,2,1,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.37,Low spender,20.5
8,2295261,1,9,1,16,0.0,False,196,4,1,...,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10,New Customer,6.37,Low spender,20.5
9,2550362,1,10,4,8,30.0,False,196,1,1,...,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,New Customer,6.37,Low spender,20.5
10,2968173,15,15,1,9,7.0,False,196,2,0,...,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular Customer,3.98,Low spender,10.0
11,1870022,15,17,2,16,8.0,False,196,6,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular Customer,3.98,Low spender,10.0
12,1911383,15,18,2,11,7.0,False,196,1,1,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular Customer,3.98,Low spender,10.0
13,2715276,15,21,1,9,7.0,False,196,1,1,...,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular Customer,3.98,Low spender,10.0
14,487368,15,22,1,10,14.0,False,196,1,1,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.98,Low spender,10.0

In [21]:
# Set the criteria and execute the code to set the Non-frequent customer flag
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_order'] > 20, 'order_frequency'] = 'Non-frequent customer'

In [22]:
# Set the criteria and execute the code to set the Regular customer flag
df_ords_prods_merge.loc[(df_ords_prods_merge['median_days_since_order'] > 10) & (df_ords_prods_merge['median_days_since_order'] <= 20), 'order_frequency'] = 'Regular customer'

In [23]:
# Set the criteria and execute the code to set the Frequent customer flag
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_order'] <= 10, 'order_frequency'] = 'Frequent customer'

In [24]:
# Check the results of the above function
df_ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,price_range,busiest_day,busiest_2_days,busiest_period_of_day,max_order,loyalty_flag,mean_prices,spending_flag,median_days_since_order,order_frequency
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New Customer,6.37,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New Customer,6.37,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New Customer,6.37,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New Customer,6.37,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New Customer,6.37,Low spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,False,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New Customer,6.37,Low spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Average orders,10,New Customer,6.37,Low spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,False,196,2,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.37,Low spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,False,196,4,1,...,Mid-range product,Regularly busy,Busiest days,Average orders,10,New Customer,6.37,Low spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New Customer,6.37,Low spender,20.5,Non-frequent customer
10,2968173,15,15,1,9,7.0,False,196,2,0,...,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular Customer,3.98,Low spender,10.0,Frequent customer
11,1870022,15,17,2,16,8.0,False,196,6,1,...,Mid-range product,Regularly busy,Regularly busy,Average orders,22,Regular Customer,3.98,Low spender,10.0,Frequent customer
12,1911383,15,18,2,11,7.0,False,196,1,1,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular Customer,3.98,Low spender,10.0,Frequent customer
13,2715276,15,21,1,9,7.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular Customer,3.98,Low spender,10.0,Frequent customer
14,487368,15,22,1,10,14.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.98,Low spender,10.0,Frequent customer

In [25]:
# Print the frequency of new "order_frequency" column
df_ords_prods_merge['order_frequency'].value_counts(dropna=False)

Frequent customer        21576963
Regular customer          7216644
Non-frequent customer     3639423
Name: order_frequency, dtype: int64

In [27]:
# Check the shape of df_ords_prods_merge
df_ords_prods_merge.shape

(32433030, 24)

# 06 Export data

In [29]:
# Export dataframe as a pickle file
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_derived_aggregated.pkl'))